# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp
.supabase
.supabase-token
.gemini-key
.paystack-secret

# editor / os
.DS_Store
*.log
npm-debug.log*
.vscode/*
!.vscode/extensions.json
.idea

.vercel

# resend
.resend-key
